*~
foo~
*.class
*.log
*.pyc
.project
.classpath
.checkstyle
.pmd
.clover/
.settings/
bin/
target/
temp/
tests/classes/
tests/output/
test-output/
.DS_Store
TempTest.java

# IntelliJ config files
*.iws
*.iml
*.ids
.idea/
!.idea/runConfigurations/
atlassian-ide-plugin.xml
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/checksums/checksums.lock
/.gradle/6.3/executionHistory/executionHistory.bin
/.gradle/6.3/executionHistory/executionHistory.lock
/.gradle/6.3/fileHashes/fileHashes.lock
/.gradle/6.3/gc.properties
/.gradle/vcs-1/gc.properties
/.gradle/6.3/fileChanges/last-build.bin
